body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.847);
}

.conteiner {
    height: 400px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 400px;
    border: 10px solid rgb(0, 0, 0);
    animation: spin 7s linear infinite;
}

.spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid white;
    border-top-color: #f39c12;
    border-right-color: #e74c3c;
    border-bottom-color: #9b59b6;
    border-left-color: #3498db;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0%, 100% {
        transform: rotate(0deg);
        border-top-color: #e74c3c;
        border-right-color: #9b59b6;
        border-bottom-color: #3498db;
        border-left-color: #f39c12;
    }
    50% {
        transform: rotate(360deg);
        border-top-color: #9b59b6;
        border-right-color: #3498db;
        border-bottom-color: #f39c12;
        border-left-color: #e74c3c;
    }
}
