p {
  width: 300px;
  height: 300px;
  padding: 20px 20px; 
  margin: 10px 30px; 
  color: green;
  font-weight: 1000;
  border-top: 5px solid rgb(73, 0, 0); 
  border-right: 10px dashed rgb(0, 0, 84); 
  border-bottom: 15px dotted rgb(2, 60, 2); 
  border-left: 20px double rgb(55, 0, 55); 
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*
standard box-sizing only considers content area in width/height. 
padding and border add extra size. 
-box includes padding and border, 
making the element's size match what you declare.  
essentially, content shrinks in border-box to fit the desired dimensions. 
*/