body {
    font-family: Arial, sans-serif;
}
.grid {
    width: 1200px;
    height: 2400px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,2fr);
    gap: 10px;
    border: 5px solid black;
}
.element {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.first{
    grid-column: 1/3;
}